*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background: beige;
  color:#222222;
  font-family:'Arial Narrow';
}
nav{
  background: #f53b57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
  gap: 40px;
}
nav h4{
  font-size: 2.3rem;
  font-weight: 700;
  color:#fff;
}
nav ul{
  display: flex;
  gap:1rem;
}
.nav-link{
  color:#fff;
  font-weight: 600;
  transition:.3s ease;
}
.nav-link:hover{
  color:#ffd32a;
}t
.active{
  color:#ffd32a;
}

.table-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
table{
  text-align: center;
  width: 70%;
}
table {
  margin: 3rem;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid;
  padding: 1rem;
}
.btn-wrap td button {
  margin:5px;
}
.btn-ediit{
  font-size: 25px;
  margin:3px;
  cursor: pointer;
  transition: .3s ease;
  border: none;
  background: transparent;
}
.btn-ediit:hover{
  color:#f53b57;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  gap:20px;
}
.input{
  padding:5px 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  outline-color: #f53b57;
  border: 2px solid #777777 ;
  box-shadow: 1px 0px 5px #ecbcc3 inset;
}
.btn{
  padding:6px 15px;
  border-radius: 7px;
  font-weight:600;
  cursor: pointer;
  transition:.3s ease;
  outline: none;
  border: none;
  border: 1px solid #ddd ;
  box-shadow: 1px 0px 5px #ecbcc3 inset;

}
.btn:hover{
  background-color: #f53b57;
  color:#fff;
}